:root {
    --blue: #4c92d9;
    --black: black;
    --offwhite: #F4F0E7;
    --orange: #ff8652;
}

@font-face {
    font-family: "Roboto";
    src: url('Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "RobotoBold";
    src: url('Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "MontserratBold";
    src: url('Montserrat-Bold.ttf') format('truetype');
}

html {
    overflow-y: scroll;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: var(--offwhite);
    background-image: url(../assets/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--black);
    font-family: Roboto, arial, sans-serif;
    font-size: 16px;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1200px) {
    body {
        background-attachment: scroll;
        background-size: auto;
        background-repeat: repeat;
        padding-left: 5%;
        padding-right: 5%;
    }

    .headerBox {
        padding: 3vh 1.8vw !important;
    }
}

@media only screen and (max-device-width: 720px) {
    heading {
        font-size: 24px !important;
    }
    .icon {
        font-size: 18px !important;
    }
    h3 {
        font-size: 28px !important;
    }
    p {
        font-size: 24px !important;
    }
    p2 {
        font-size: 24px !important;
    }
    .footer-content {
        font-size: 32px !important;
    }
    li {
        font-size: 24px !important;
    }
    body {
        font-size: 24px !important;
    }
    .headerBox {
        padding: 3vh 2vw !important;
    }
    .footer {
        padding: 60px 20% 40px 20% !important;
    }
}

.embed_video {
    aspect-ratio: 16/9;
    border: none;
    display: block;
}

.light-mode {
    --offwhite: white;
    --black: #2a353b;
    --blue: #00c295;
}

li {
    font-size: 20px;
    line-height: 1.6;
}

p {
    font-family: Roboto, arial, sans-serif;
    line-height: 1.6;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: var(--black);
}

p2 {
    font-family: RobotoBold, arial, sans-serif;
    line-height: 1.6;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    opacity: 40%;
    color: var(--black);
}

a {
    color: var(--blue);
    font-family: RobotoBold, arial, sans-serif;
    text-decoration: none;
}

    a:hover {
        color: var(--orange);
        text-decoration: underline;
    }

.invisibleLink {
    color: var(--black);
    font-family: MontserratBold, arial, sans-serif;
    font-size: 28px;
}

    .invisibleLink:hover {
        color: var(--black);
        text-decoration: none;
    }

h1 {
    color: var(--blue);
    font-family: MontserratBold, arial, sans-serif;
    font-weight: normal;
}

h2 {
    font-family: Roboto, arial, sans-serif;
    font-weight: normal;
}

h3 {
    color: var(--blue);
    font-family: MontserratBold, arial, sans-serif;
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.heading {
    font-family: Roboto, arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: var(--black);
}

    .heading:hover {
        text-decoration: none;
    }

.headerBox {
    padding: 3vh 16.5vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s;
    z-index: 999;
}

.stylizedHeader {
    background: var(--offwhite);
    padding: 3vh 3vw;
    border: solid;
    border-width: 2px;
    border-color: var(--black);
    box-shadow: 5px 5px var(--black);
    border-radius: 30px;
    background-image: url("../assets/projectInfo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.menuItem {
    padding-left: 20px;
    text-align: right;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px 20% 20px 20%;
    margin-top: auto;
}

.footer-content {
    margin: 0 auto;
}

.icon {
    font-size: 12px;
    padding-left: 20px;
}

i {
    color: var(--black);
}

    i:hover {
        color: var(--orange) !important;
    }

hr {
    width: 100%;
}

.headshot {
    display: block;
    border-radius: 360px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--black);
    box-shadow: 5px 5px black;
}