:root {
    --emerald: #03DAC6;
    --text: white;
    --background: #1c1e21;
    --transparent: #535b61;
}

@font-face {
    font-family: "Roboto";
    src: url('Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "RobotoBold";
    src: url('Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "MontserratBold";
    src: url('Montserrat-Bold.ttf') format('truetype');
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--transparent);
    border-radius: 20px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #5f6d75;
    }

html {
    overflow-y: scroll;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Roboto, arial, sans-serif;
    font-size: 16px;
    padding-left: 20%;
    padding-right: 20%;
}

.embed_video {
    aspect-ratio: 16/9;
    border: none;
    display: block;
}

.light-mode {
    --background: white;
    --text: #2a353b;
    --emerald: #00c295;
}

li {
    font-size: 20px;
    line-height: 1.6;
}

p {
    line-height: 1.6;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

a {
    color: var(--emerald);
    font-family: RobotoBold, arial, sans-serif;
    text-decoration: none;
}

    a:hover {
        color: white;
    }

h1 {
    color: var(--emerald);
    font-family: MontserratBold, arial, sans-serif;
    font-weight: normal;
}

h2 {
    font-family: Roboto, arial, sans-serif;
    font-weight: normal;
}

h3 {
    color: var(--emerald);
    font-family: RobotoBold, arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
}

heading {
    font-family: Roboto, arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

    heading:hover {
        color: var(--emerald);
        cursor: pointer;
    }

.headerBox {
    font-family: MontserratBold, arial, sans-serif;
    font-size: 28px;
    padding: 20px 0;
}

.menuItem {
    padding-left: 20px;
    text-align: right;
}
