:root {
    --emerald: #24edbe;
}

body {
    background-color: #2a353b;
    color: white;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    color: var(--emerald);
    font-family: arial, sans-serif;
}

heading {
    font-size: 14px;
    color: white;
    font-weight: normal;
}

    heading:hover {
        color: var(--emerald);
        cursor: pointer;
    }

.headerBox {
    color: var(--emerald);
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

td {
    padding-left: 20px;
    text-align: right;
}
