#portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolioImg {
    border-radius: 28px 28px 0 0;
    object-fit: cover;
}

.portfolioContent {
    padding: 0 14px 14px 14px;
}

.hoverbox {
    transition: transform 0.2s;
    width: 43%;
    margin: 1.9%;
    float: left;
    background-color: var(--offwhite);
    border-color: var(--offwhite);
    border-width: 2px;
    border-style: solid;
    border-color: var(--black);
    border-radius: 30px;
    box-shadow: 5px 5px var(--black);
    background-image: url("../assets/projectInfo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

    .hoverbox:hover {
        cursor: pointer;
        transform: scale(1.03);
        text-decoration: none;
    }

@media screen and (max-width: 420px) {
    .hoverbox {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .portfolioImg {
        height: 50vw;
    }
}

@media screen and (max-device-width: 420px) {
    .hoverbox {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .portfolioImg {
        height: 35vw;
    }
}

.categoryBox {
    font-family: RobotoBold, arial, sans-serif;
    font-size: 28px;
    padding: 0;
}

.categoryItem {
    font-family: Roboto, arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding: 5px 15px;
    text-align: left;
    background: var(--offwhite);
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--black);
    box-shadow: 3px 3px var(--black);
    margin-right: 6px;
}

    .categoryItem:hover {
        cursor: pointer;
        background: var(--orange);
    }
