.hoverbox {
    background-color: var(--background);
    padding: 20px 20px 20px 20px;
}

    .hoverbox:hover {
        cursor: pointer;
        background-color: var(--transparent);
    }

.portfolioItem {
    padding: 20px 20px 20px 20px;
    vertical-align: top;
}

.categoryBox {
    font-family: AdirBold, arial, sans-serif;
    font-size: 28px;
    padding: 0;
}

.categoryItem {
    padding-left: 20px;
    text-align: left;
}