.hoverbox {
    background-color: white;
    color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    width: 20%;
}

    .hoverbox:hover {
        cursor: pointer;
        background-color: var(--emerald);
        box-shadow: 5px 5px 10px black;
    }
